/* Global page styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f9;

  /* center the card */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* The business card container */
.card {
  background-color: #ffffff;
  padding: 24px 32px;
  border-radius: 20px;
  width: 95%;
    max-width: 500px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}



/* Name + title */
.name {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  color: #000053
}



/* Info text (email, phone, etc.) */
.info p {
  margin: 8px 0;
  font-size: 15px;
}

/* Links */
a {
  color: #000053;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.add-contact-btn {
  margin-top: 20px;
  padding: 10px 18px;
  background-color: #000053;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.add-contact-btn:hover {
  background-color: #000053;
}
